<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      Order food online from SRM's best food delivery service. Order from
      restaurants near you
    </title>
    <link rel="stylesheet" href="style.css" />
   
    />
      <style>
    body {
      background-image: url('background.jpg');
    }
  </style>
  </head>
    <body>
    <script>
        
        function myFunction() {
  let text;
  let person=prompt('Please Log in. Username:','');
  if (person == null || person == "") {
    alert("Enter valid login");
  } else {
    let password=prompt('Password please:','');
    if (password == null || password == "") {
      alert("Enter Valid Password");
    }
    else {
        alert("Login Successful");
    }
  }
  
  document.getElementById("demo").innerHTML = text;
  
}
function getCredentials(){
      window.open("try.html","bfs","width=600, height=500,scrollbars")
}
}

function myHelp() {
  window.open("help.html","bfs","width=600, height=500,scrollbars")
}

function myOffers() {
  window.open("offers.html","bfs","width=600, height=500,scrollbars")
} 
        
         function yurish() {
  window.open("yurish.html","bfs","width=600, height=500,scrollbars")
}  
        
        function sohana() {
  window.open("sohana.html","bfs","width=600, height=500,scrollbars")
}  
        
         function evergreen() {
  window.open("evergreen.html","bfs","width=600, height=500,scrollbars")
}  
        
         function butty() {
  window.open("butty.html","bfs","width=600, height=500,scrollbars")
}  
        
         function sunny_days() {
  window.open("sunny_days.html","bfs","width=600, height=500,scrollbars")
}  
        
         function food_park() {
  window.open("food_park.html","bfs","width=600, height=500,scrollbars")
}  
        
         function andhra() {
  window.open("andhra.html","bfs","width=600, height=500,scrollbars")
}  
        
         function classic_biriyani() {
  window.open("classic_biriyani.html","bfs","width=600, height=500,scrollbars")
}  
        
        function chocomans() {
  window.open("chocomans.html","bfs","width=600, height=500,scrollbars")
}  
        
         function queen() {
  window.open("queen.html","bfs","width=600, height=500,scrollbars")
}  
        
          function happy() {
  window.open("happy.html","bfs","width=600, height=500,scrollbars")
}  
        
          function gplus() {
  window.open("gplus.html","bfs","width=600, height=500,scrollbars")
}  
        
          function chettinadu() {
  window.open("chettinadu.html","bfs","width=600, height=500,scrollbars")
}  
        
        function milan() {
  window.open("milan.html","bfs","width=600, height=500,scrollbars")
}  
        </script></body>
  <body>
    <div class="main-container">
      <header class="navbar">
        <div class="global-nav">
          <div class="nav">
            <div class="left">
              <a href="#home" class="logo">
                <svg
                  class="_8pSp-"
                  viewBox="0 0 559 825"
                  height="49"
                  width="34"
                  fill="#fc8019"
                >
                  <defs>
                    <linearGradient
                      id="paint0_linear_19447_66107"
                      x1="445.629"
                      y1="63.8626"
                      x2="160.773"
                      y2="537.598"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FF993A"></stop>
                      <stop offset="1" stop-color="#F15700"></stop>
                    </linearGradient>
                  </defs>
                </svg>
              </a>
              <div class="location-div">
                <span class="other">Other</span>
                <span class="location">SRM, CHENNAI , TAMIL NADU</span>
                <span class="arrow-down"
                  ><i class="fa-solid fa-angle-down"></i
                ></span>
              </div>
            </div>
            <div class="right">
              <ul class="items">
                <li>
                  <div class="nav-item">
                    <a href="">
                      <svg
                        class="_1GTCc"
                        viewBox="5 -1 12 25"
                        height="17"
                        width="17"
                        fill="#686b78"
                      >
                        
                      </svg>
                      <span>Search</span>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="nav-item">
                    <a href="">
                      <svg
                        class="_1GTCc"
                        viewBox="0 0 32 32"
                        height="19"
                        width="19"
                        fill="#686b78"
                      >
                       
                      </svg>
                      <span> <input type = "button" onclick = "myOffers(); return false;" value = "Offers"> </span>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="nav-item">
                    <a href="">
                      <svg
                        class="_1GTCc"
                        viewBox="6 -1 12 25"
                        height="19"
                        width="19"
                        fill="#686b78"
                      >
                        
                      </svg>
                      <span>
                      <button onclick="myHelp(); return false;">Help</button>
                      </span>   
                    </a>
                  </div>
                </li>
                <li>
                  <div class="nav-item">
                    <a href="">
                      <svg
                        class="_1GTCc"
                        viewBox="6 0 12 24"
                        height="19"
                        width="18"
                        fill="#686b78"
                      >
                       
                      </svg>
                      <span> <input type = "button" onclick = "getCredentials(); return false;" value = "Sign In"> </span>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="nav-item">
                    <a href="">
                      <svg
                        class="_1GTCc _173fq"
                        viewBox="-1 0 37 32"
                        height="20"
                        width="20"
                        fill="#60b246"
                      >
                      </svg>
                      <span>Cart</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <main class="content-section">
        <section class="restaurants">
          <div class="container">
            <div class="item-bar">
              <div class="number">5 Restaurants</div>
              <div class="filters">
                <div class="relevance">Relevance</div>
                <div class="delivery-time">Delivery Time</div>
                <div class="rating">Rating</div>
                <div class="cost-lh">Cost: Low To High</div>
                <div class="cost-hl">Cost: High To Low</div>
              </div>
            </div>
            <div class="restaurant-list">
                
                
                
                
                
              <div class="place">
               <!-- <a
                  href="yurish.html" 
                  class="place-link"
                   >   -->
                    <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="yurish"
                          width="254"
                          height="160"
                          src="yurish.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      </div>

                      <div class="place-name-div">
                        <div class="name">Yurish</div>
                        <div
                          class="food-items"
                          title="Bakery, Desserts, Beverages, Combo, European, Ice Cream, Juices, Waffle, Sweets"
                        >
                          Bakery, Desserts, Beverages, Combo, European, Ice
                          Cream, Juices, Waffle, Sweets
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price">  </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                     <!-- <span>
                      <button onclick="yurish(); return false;">quick-view</button>
                      </span> -->
                    </div>
                  </div></a>
              </div> 
                
                
                
                
                
                <div class="place">
                <a
                  href="sohana.html"
                  class="place-link"
                >
                  <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="Sohana"
                          width="254"
                          height="160"
                          src="sohana.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">HOME DELIVERY AVAILABLE</div> 
                      </div>
                      </div>
                      
                      <div class="place-name-div">
                        <div class="name">Sohana</div>
                        <div
                          class="food-items"
                          title="Fruit Juices | Vegetable Juices | Lime | Health Drinks | Lassi"
                        >
                          Fruit Juices | Vegetable Juices | Lime | Health Drinks | Lassi
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i
                        ></span>
                       
                      </div>
                    </div>
                    <div class="quick-view">
                    <span>
                      <button onclick="sohana(); return false;">quick-view</button>
                      </span>   
                      
                    </div>
                  </div>
                </a>
              </div>
                
                
                
                
                
                
              <div class="place">
                <a
                  href="evergreen.html"
                  class="place-link"
                  ><div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="evergreen"
                          width="254"
                          height="160"
                          src="evergreen.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">HOME DELIVERY AVAILABLE</div> 
                      </div>
                      </div>
                      
                      <div class="place-name-div">
                        <div class="name">Evergreen</div>
                        <div
                          class="food-items"
                          title="  Biriyani | Pulao | Rice | Noodles | Veg Starters | Non-veg Starters | Tawa Roll | Shawarma Roll"
                        >
                            Biriyani | Pulao | Rice | Noodles | Veg Starters | Non-veg Starters | Tawa Roll | Shawarma Roll
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating" style="background-color: #48c479">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>4.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                     <span>
                      <button onclick="evergreen(); return false;">quick-view</button>
                      </span>
                    </div>
                  </div></a
                >
              </div>
                
                
                
                
                
                
                
                
              <div class="place">
                 <a
                  href="butty.html"
                  class="place-link"
                  >  <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="butty"
                          width="254"
                          height="160"
                          src="butty.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      </div>
                      
                      <div class="place-name-div">
                        <div class="name">Butty</div>
                        <div
                          class="food-items"
                          title="Indian | Chinese | Tandoor | kabab Rolls | Arabian Bites | BBQ | Momos"
                        >
                          Indian | Chinese | Tandoor | kabab Rolls | Arabian Bites | BBQ | Momos
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        ><span class="offer-text">50% off | Use WELCOME50</span>
                      </div>
                    </div>
                    <div class="quick-view">
                     <!-- <span>
                      <button onclick="butty(); return false;">quick-view</button>
                      </span> -->
                    </div> 
                  </div></a
                >
              </div>
                
                
                
                
                
                
                
             <div class="place">
                 <a
                  href="sunny_days.html"
                  class="place-link"
                  > <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="sunny_days"
                          width="254"
                          height="160"
                          src="sunny_days.jpg"
                        />
                          
                      </div>
                      
                      <div class="place-name-div">
                        <div class="name">Sunny Days</div>
                        <div
                          class="food-items"
                          title="  Thick Shake | Mocktail | Milk Shakes | Wraps | Maggi | Omlette | Momos | Fried Items | Pasta | Sandwich | Burgers"
                        >
                          Thick Shake | Mocktail | Milk Shakes | Wraps | Maggi | Omlette | Momos | Fried Items | Pasta | Sandwich | Burgers
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                        <span>
                      <button onclick="sunny_days(); return false;">quick-view</button>
                      </span> 
                    </div>
                  </div></a
                >
              </div> 
                
                
                
                
                
                
                
                
                
              <div class="place">
                <a
                  href="food_park.html"
                  class="place-link"
                  ><div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="food_park"
                          width="254"
                          height="160"
                          src="food_park.jpg"
                        />
                      </div>

                      <div class="place-name-div">
                        <div class="name">Google Food Park</div>
                        <div
                          class="food-items"
                          title="Rice | Noodles | Pasta | Rolls | Shawarma | Juices | Sandwich"
                        >
                          Rice | Noodles | Pasta | Rolls | Shawarma | Juices | Sandwich
                        </div>
                      </div>
                      <div class="info-div">
                        <div clahss="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                       <span>
                      <button onclick="food_park(); return false;">quick-view</button>
                      </span>
                    </div>
                  </div></a
                >
              </div>
                
                
                
                
                
                
                
                
                
              <div class="place">
                <!-- <a
                  href="andhra.html"
                  class="place-link"
                  > --> <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="andhra"
                          width="254"
                          height="160"
                          src="andhra.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      </div>
                     
                      <div class="place-name-div">
                        <div class="name">Andhra Tiffins</div>
                        <div
                          class="food-items"
                          title="Dosa | Idly | Snacks | Lunch | Combo"
                        >
                         Dosa | Idly | Snacks | Lunch | Combo
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating" style="background-color: #48c479">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>4.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                       <!-- <span>
                      <button onclick="andhra(); return false;">quick-view</button>
                      </span> -->
                    </div> 
                  </div></a
                >
              </div>
                
                
                
                
                
                
                
                
                
                

             <!-- <div class="place">
               <!-- <a
                  href="classic_biriyani.html"
                  class="place-link"
                  >  <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="classic_biriyani"
                          width="254"
                          height="160"
                          src="classic_biryani.jpg"
                        />
                      </div>
                      <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      <div class="place-name-div">
                        <div class="name">Classic Biryani</div>
                        <div
                          class="food-items"
                          title="  Biryani and pulao | Pasta | Chinese | Shawarma | Rice / Noodles | Veg n Non veg Starter | Roll | Momos."
                        >
                          Biryani and pulao | Pasta | Chinese | Shawarma | Rice / Noodles | Veg n Non veg Starter | Roll | Momos
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        ><span class="offer-text">+91 805 612 9893</span>
                      </div>
                    </div>
                    <div class="quick-view">
                       <!-- <span>
                      <button onclick="classic_biriyani(); return false;">quick-view</button>
                      </span> 
                    </div>
                  </div></a
                >
              </div> -->
                
                
                
                
                
                
                
                
                 <div class="place">
               <!-- <a
                  href="chocomans.html"
                  class="place-link"
                  > --> <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="chocomans"
                          width="254"
                          height="160"
                          src="chocomans.jpg"
                        />
                      </div>
                         <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      <div class="place-name-div">
                        <div class="name">chocomans</div>
                        <div
                          class="food-items"
                          title=" Bakery, Desserts, Beverages, Combo, European, Ice
                          Cream, Juices, Waffle, Sweets"
                        >
                         Bakery, Desserts, Beverages, Combo, European, Ice
                          Cream, Juices, Waffle, Sweets
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating" style="background-color: #48c479">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>4.8</span>
                        </div>
                        <div>•</div>
                        <div>9 A.M TO 9 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                      <!-- <span>
                      <button onclick="chocomans(); return false;">quick-view</button>
                      </span>  -->
                    </div> 
                  </div></a
                >
              </div> 
                
                
                
                 
                <!--    <div class="place">
               <!-- <a
                  href="queen.html"
                  class="place-link"
                  > <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="queen"
                          width="254"
                          height="160"
                          src="queen.jpg"
                        />
                      </div>
                       <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      <div class="place-name-div">
                        <div class="name">Queen's Court</div>
                        <div
                          class="food-items"
                          title="  Dosa | Idly | Snacks | Lunch | Combo"
                        >
                          Dosa | Idly | Snacks | Lunch | Combo
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>9 A.M TO 9 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        ><span class="offer-text">+91 936 002 9462</span>
                      </div>
                    </div>
                    <div class="quick-view">
                       <!-- <span>
                      <button onclick="queen(); return false;">quick-view</button>
                      </span>  
                    </div>
                  </div></a
                >
              </div> -->
                
                <div class="place">
                <!--<a
                  href="happy.html"
                  class="place-link"
                  > --> <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="happy"
                          width="254"
                          height="160"
                          src="happy.jpg"
                        />
                          <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      </div>
                     
                      <div class="place-name-div">
                        <div class="name">Happy Kitchen</div>
                        <div
                          class="food-items"
                          title="Dosa | Idly | Snacks | Lunch | Combo"
                        >
                         Dosa | Idly | Snacks | Lunch | Combo
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating" style="background-color: #48c479">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>4.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                    <!--   <span>
                      <button onclick="happy(); return false;">quick-view</button>
                      </span> -->
                    </div> 
                  </div></a
                >
              </div>   
                    
                
                
                
                
                <div class="place">
                <a
                  href="gplus.html"
                  class="place-link"
                  ><div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="gplus"
                          width="254"
                          height="160"
                          src="gplus.jpg"
                        />
                      </div>
                      
                      <div class="place-name-div">
                        <div class="name">Google Plus</div>
                        <div
                          class="food-items"
                          title="Rice | Noodles | Pasta | Rolls | Shawarma | Juices | Sandwich"
                        >
                       Rice | Noodles | Pasta | Rolls | Shawarma | Juices | Sandwich
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating" style="background-color: #48c479">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>4.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                       <span>
                      <button onclick="gplus(); return false;">quick-view</button>
                      </span>
                    </div>
                  </div></a
                >
              </div>
                
               
                
                
                 <div class="place">
                <!-- <a
                  href="chettinadu.html"
                  class="place-link"
                  > --> <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="chettinadu"
                          width="254"
                          height="160"
                          src="chettinadu.jpg"
                        />
                      </div>
                      <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      <div class="place-name-div">
                        <div class="name">Classic Chettinadu</div>
                        <div
                          class="food-items"
                          title="  Biriyani | Pulao | Rice | Noodles | Veg Starters | Non-veg Starters | Tawa Roll | Shawarma Roll"
                        >
                          Biriyani | Pulao | Rice | Noodles | Veg Starters | Non-veg Starters | Tawa Roll | Shawarma Roll
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price"> </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                      <!--  <span>
                      <button onclick="chettinadu(); return false;">quick-view</button>
                      </span> -->
                    </div> 
                  </div></a
                >
              </div> 
                
                  <div class="place">
               <!-- <a
                  href="milan.html" 
                  class="place-link"
                   > --> <div class="list-item">
                    <div class="item-content">
                      <div class="top-img">
                        <img
                          class="_2tuBw _12_oN"
                          alt="milan"
                          width="254"
                          height="160"
                          src="milan.jpg"
                        />
                           <div
                        class="status"
                        style="
                          background: rgb(58, 60, 65);
                          color: rgb(255, 255, 255);
                          border-color: rgb(30, 32, 35) transparent;
                        "
                      >
                        <div class="status-title">Restaurant Not Delivering</div> 
                      </div>
                      </div>

                      <div class="place-name-div">
                        <div class="name">milan</div>
                        <div
                          class="food-items"
                          title="Bakery, Desserts, Beverages, Combo, European, Ice Cream, Juices, Waffle, Sweets"
                        >
                          Bakery, Desserts, Beverages, Combo, European, Ice
                          Cream, Juices, Waffle, Sweets
                        </div>
                      </div>
                      <div class="info-div">
                        <div class="rating">
                          <span class="icon-star"
                            ><i class="fa-solid fa-star"></i></span
                          ><span>3.8</span>
                        </div>
                        <div>•</div>
                        <div>10 A.M TO 8 P.M | 20-30 MINS </div>
                        <div>•</div>
                        <div class="price">  </div>
                      </div>
                      <div class="offer-div">
                        <span class="icon-offer-filled"
                          ><i class="fa-solid fa-tags"></i></span
                        >
                      </div>
                    </div>
                    <div class="quick-view">
                    <!-- <span>
                      <button onclick="milan(); return false;">quick-view</button>
                      </span> -->
                    </div> 
                  </div></a>
              </div> 
                
                
                
                
            </div>
          </div>
            
        </section>
      </main>
 
      </div>
  </body>
</html>